/* impostazioni di reset */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* margine del sito */
body {
  margin: 20px 250px;
  background-image: url("../img/background_body.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
/* /margine del sito */

/* home + navigator */
.header_top {
  width: 100%;
  height: 500px;
  border: 10px solid black;
  position: relative;
  background-image: url("../img/background_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.header_top :last-child {
  color: white;
}

/* navigator */

.header_bot,
.overlay {
  width: 100%;
  background-color: grey;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
}
.overlay{
  background-color: red;
  height: 100%;

}

nav li{
  display: inline-block;
  padding-right: 50px;
  font-size: 30px;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
/* /home + navigator*/

/* impostazioni di clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* /impostazioni di clearfix */

/* layout principale */
main .left_column {
  width: 20%;
  padding: 10px;
  background-color: white;
  float: left;
}
.left_column h3, li {
  padding-bottom: 10px;
}
main .central_column {
  width: 56%;
  float: left;
  background-color: white;
  margin: 0 2%;
}
main .right_column {
  width: 20%;
  float: right;
}

.top, .mid, .bot {
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
}
/* /layout principale */

/* crediti */
footer {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: lightblue;
  position: relative;
}

div i {
  float: left;
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
div i.fa-instagram {
  font-size: 40px;
  position:absolute;
  left: 20%;
  top:50%;
  transform: translate(-50%, -50%);
}
div i.fa-facebook-square {
  font-size: 40px;
  position: absolute;
  left: 40%;
  top:50%;
  transform: translate(-50%, -50%);
}
div i.fa-github {
  font-size: 40px;
  position:absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div i.fa-linkedin {
  font-size: 40px;
  position:absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* /crediti */
